.mario-bros {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personagens h1 {
    display: flex;
    justify-content: center;
}

#personagens-container { 
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poderes h1 {
    display: flex;
    justify-content: center;
}

#poderes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 900px;
    margin: 0 auto;
}